* { box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -osx-moz-font-smoothing: grayscale;

  font-family: $f_body;
  font-size: 100%;
  line-height: 1.5;
  
  @media (min-width: 1650px) {
    font-size: 125%;
    line-height: 1.75;
  }
}

body {
  margin: 0;
  padding: 2rem 0;
  
  @media (min-width: 540px) {
    padding: calc(16px + (70 - 16) * ((100vw - 320px) / (1280 - 320)));
  }
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}