.text-center {
  text-align: center;
  
  &--mobile {
    text-align: center;
    @media (min-width: 540px) { text-align: left; }
  }
}

.maxw {
  max-width: 52ch;
  margin-left: auto;
  margin-right: auto;
}

.tinyw {
  @media (min-width: 540px) { max-width: 18ch; }
}

.mauto {
  margin-left: auto;
  margin-right: auto;
  
  &--mobile {
    @media (max-width: 539px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}