.list {
  
  &--no-dot { list-style: none; }
  
  &--no-style {
    margin: 0;
    padding: 0;
  }
  
  &--centered {
    &-mobile {
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      
      @media (min-width: 800px) {
        max-width: initial;
        margin-left: initial;
        margin-right: initial;
      }
    }
  }
  
  &--spaced {
    li {
      margin-bottom: $sp_base * 2;
      
      @media (min-width: 800px) {
        margin-bottom: $sp_base;
      }
    }
  }
}

dl {
  margin: 0;
  padding: 0;
  
  dt {
    display: inline-block;
    width: 80px;
    margin-right: $sp_base * 2;
    
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
  }
  
  dd {
    display: inline-block;
    margin-left: 0;
    margin-bottom: $sp_base * 3;
    width: calc(100% - (130px));
    vertical-align: top;
    
    &:last-of-type { margin-bottom: 0; }
  }
}