.intro {
  padding: 0 $sp_base;
  margin-bottom: $sp_base * 3;
  position: relative;
  z-index: 1;
  mix-blend-mode: multiply;
  
  @media (max-width: 539px) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
  @media (min-width: 540px) {
    padding: 0;
  }
  
  .button {
    margin-top: $sp_base;
  }
}