.masked-text {
  background-image: linear-gradient(150deg, $c_gradient_pink 0%, $c_gradient_purple 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  position: relative;
  z-index: 1;
}