{% extends "layout.nunjucks" %}

{% block site_title %}Work Highlights | {% endblock %}

{% block page_class %}work{% endblock %}

{% block site_content %}
  <section class="intro text-center">
    <p class="lead-text">A collection of work from the past 5 years.</p>
  </section>
  
  <section class="workItems about">
  {% for work in pages.Work %}
    {% if loop.index0 !== 8 %}
    <div class="workItem padding-all--small">
      <div class="workItem-content padding-all--small">
        <h2 class="workItem-title">{{ work.title }}</h2>
        <p class="workItem-subtitle">{{ work.year }}</p>
        <p class="workItem-meta">{{ work.type }}</p>
        <p class="workItem-copy">{{ work.excerpt }}</p>
        <a class="button" href="{{ work.url }}" target="_blank">See Live Site</a>
      </div>
      <img class="workItem-image" src="{{ work.image }}" alt="{{ work.alt }}">
    </div>
    {% endif %}
  {% endfor %}
  </section>
{% endblock %}

{% block footer_scripts %}
  <script>
    {
    // Only start the scrolling of the elements when the page has been
    // scrolled the distance of the top of the element container
    // plus a buffer
    
      const workEles = [].slice.call(document.querySelectorAll('.workItem'));
      let screenHeight = document.documentElement.clientHeight;
      
      const contentFriction = 0.045;
      const imagesFriction = 0.15;
      
      const throttle = (type, name, obj) => {
        const newObj = obj || window;
        let running = false;
        const tempFunction = () => {
          if (running) { return; }
          running = true;
          requestAnimationFrame( () => {
            newObj.dispatchEvent(new CustomEvent(name));
            running = false;
          });
        };
        newObj.addEventListener(type, tempFunction);
      };
      throttle('scroll', 'optimizedScroll');
      
      window.addEventListener('optimizedScroll', () => {
        // Only start the scrolling if device is greater than 700px
        if (document.documentElement.clientWidth >= 700) {
          let distanceScrolled = window.pageYOffset;
          
          workEles.forEach((item, index) => {
            let workItemTop = item.getBoundingClientRect().top;
            let workContent = item.querySelector('.workItem-content');
            let workImage   = item.querySelector('.workItem-image');
            
            // Only animate the work content and images if the work item
            // is scrolled into view.
            console.log(`Distance scrolled: ${distanceScrolled}`);
            console.log(`Work Item #${index} Top: ${workItemTop}`);
            console.log(`Half screen height: ${(screenHeight/2)}`);
            console.log(distanceScrolled > (workItemTop - (screenHeight / 2)));
            if ( distanceScrolled > (workItemTop - (screenHeight / 2) ) ) {
              workContent.style.transform = `translateY(-${window.pageYOffset * contentFriction }px)`;
              workImage.style.transform = `translateY(-${window.pageYOffset * imagesFriction }px)`;
            }
          });
        }
      });
    }
  </script>
{% endblock %}