{% extends "layout.nunjucks" %}

{% block site_title %}Beautiful Websites Everyone Loves to Use | {% endblock %}

{% block page_class %}home{% endblock %}

{% block site_content %}
  <section class="intro padding-all--small">
    <p class="lead-text tinyw mauto--mobile text-center--mobile masked-text">Making the web fast and easy-to-use, one website at a time.</p>
    <a class="button has-shadow" href="/work/">Work Examples</a>
  </section>
  
  <aside class="blob">
    <svg width="664px" height="917px" viewBox="0 0 664 917" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="blob-svg">
      <defs>
        <linearGradient x1="87.9312699%" y1="1.78123369%" x2="32.8519706%" y2="98.0634428%" id="linearGradient-1">
          <stop stop-color="#5DF3FC" offset="0%"></stop>
          <stop stop-color="#9B5DFC" offset="47.0556358%"></stop>
          <stop stop-color="#FF6868" offset="100%"></stop>
        </linearGradient>
      </defs>
      <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="v4" fill="url(#linearGradient-1)">
          <path d="M691,38.2230784 C607.9375,-76.9644216 578.893916,107.516047 417.257198,80.3793284 C255.620479,53.2426096 249.487666,146.875422 237.98376,183.496516 C226.479854,220.11761 237.98376,256.652766 134.460323,288.769953 C30.9368851,320.887141 9.63219764,368.11761 1.54626014,434.598078 C-6.53967736,501.078547 17.1868851,545.734797 70.3900101,596.105891 C123.593135,646.476985 194.616573,673.152766 70.3900101,762.785578 C-53.8365524,852.418391 441.446608,1017.37036 601.148438,830.918391 C760.850267,644.466418 774.0625,153.410578 691,38.2230784 Z" fill="url(#linearGradient-1)"></path>
        </g>
      </g>
    </svg>
    
    <img class="blob-img has-shadow" src="/img/alex-wright.png" alt="Alex smiling in his office, from the chest up.">
  </aside>
  
  <section class="about padding-all--small">
    <h2>About</h2>
    <ul class="list list--no-dot list--no-style list--spaced">
      <li>I am a dual US and Canadian citizen, living in <a href="http://www.sherrillny.org/" target="_blank">New York</a>.</li>
      <li>I have a beautiful wife and 4 incredible children.</li>
      <li>I love to read, exercise, watch movies, and listen to <a href="https://itunes.apple.com/profile/alexanderwright" target="_blank">music</a>.</li>
      <li>I have a passion for clean, fast, and efficient <a href="https://github.com/akwright" target="_blank">code</a>.</li>
      <li>I have been working in digital for the past 11 years.</li>
      <li>I founded <a href="#tfa-about">Three Fat Arrows</a> in June, 2018.</li>
      <li>I have one <a href="https://www.instagram.com/p/BQeTRQshPCrMHTH1l2t7g-nwuwEYf6e_hYu06c0/?taken-by=alexanderkwright" target="_blank">tattoo</a>, but want to get at least three more.</li>
      <li>I love Jesus and <a href="https://www.bible.com/bible/116/LUK.9.23-26.NLT" target="_blank">follow Him</a>.</li>
    </ul>
  </section>
  
  <aside id="tfa-about" class="modal">
    <div class="modal-content">
      <a href="#modal-close" title="Close Modal" class="modal-close">Close X</a>
      <h2 class="modal-title">Why Three Fat Arrows?</h2>
      <p class="modal-copy">I wanted to create something that was funny, unique, memorable, tied back to the Bible, and represented our children.</p>
      <dl>
        <dt>Three</dt>
        <dd>Represents the number of children that my wife and I have here on Earth. <a href="https://emmashopeinc.org/emmas-story/" target="_blank">Read About Emma</a></dd>
        <dt>Fat</dt>
        <dd>Refers to the size and overall impact of the arrows.</dd>
        <dt>Arrows</dt>
        <dd>Refers to <a href="https://bible.com/bible/116/PSA.127.3-5.NLT" target="_blank">Psalm 127:3-5</a>, in that our children are like arrows in the hand of a warrior. By God’s grace, to make a strong, positive impact on our world for Jesus.</dd>
      </dl>
      <p class="modal-copy">In short, the name pays homage to the gifts God has given us in our children and the impact they will have.</p>
    </div>
  </aside>
  
{% endblock %}